/* Стилове за Reset Password page */

#reset-password-content .input-group .form-control {
	min-height: 44px;
}

#reset-password-content .input-group .btn {
	min-width: 48px;
}

#reset-password-form .btn[type='submit'] {
	font-weight: 700;
}
